.Flex-Container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-gap: 10px;
}

#masterList{
  margin-top: 10px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  padding: 5%;
  background-color: #d7d3cb;
  width: 50%;
  text-align: center;
}

#masterList--container{
  background-color: #d7d3cb;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-gap: 15px;
}

.masterList--container--elements{
  color: #282c34;
  border: 1px solid #282c34;
  border-radius: 5px;
  margin: 1px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.masterList--container--elements:hover{
  background-color: #282c34;
  color: white;
  cursor: pointer; 
  border: 1px solid white;
}

.masterList--container--elements--listName{
  line-height: 60px;
}

#titleContainer{
  display: flex;
  grid-gap: 10px;
  margin: 50px;
}

#titleChange {
  font-size: 50px;
}

button{
  padding: 5%;
}

.ToDoList{
  width:100%;
}

.step{
  margin: 20px;
  display: flex;
  grid-gap: 10px;
  max-width: 100vw;
}

.step--content{
  margin: 0px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  padding: 5px;
  color: black;
  word-wrap: break-word;
  max-width: 60vw;
  text-align: left;
}

.step--index{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.step--input{
  padding: 7px;
  width: 50%;
  height: 10vh;
}

.step--edit{
  background-color: palegreen;
  opacity: 70%;
}

.step--delete{
  background-color: lightcoral;
  opacity: 70%;
}

.step > button:hover{
  border: 2px solid pink;
  opacity: 100%;
}

.listInput{
  padding: 10px
}

@media (max-width: 500px) {
  .step--content{
    max-width:30vw;
  }
}